.visualPreviewPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;

  :global(.react-codemirror2 .CodeMirror) {
    border: none;
    border-radius: 0;
  }
}
